.dropdown {
  width: 100px;
  background: #ccc;
  text-align: center;
  cursor: pointer;
}
.dropdown h4 {
  margin: 0;
  padding: 10px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
.sub {
  text-align: center;
  margin: 0;
  padding: 0;
  display: none;
  position: relative;
}
.sub li {
  list-style: none;
}
.sub a {
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
}
.sub a:hover {
  background: #333;
  color: #fff;
}

.subofsub {
  padding: 0;
  display: none;
  position: absolute;
  left: 100px;
  top:0;
  color: #000;
  background: #ccc;
}

.subofsub a {
  padding: 10px ;
  display: block;
}
.subofsub a:hover {
  background: #333;
  color: #fff;
}
